<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Another awesome Statamic site">
    <title>{{ title ensure_right=" / " }}{{ site_name }}</title>

 <!--   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="{{ theme:css }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="css/lightslider.css" />
</head>

<body class="section-{{ segment_1 or "home" }}">

    {{ partial:nav }}

    {{ template_content }}

<footer class="footer container article-footer font-small pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-lg-3 mt-3">
                <div class="footer-logo" style="margin: auto"></div>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-lg-5 mb-md-0 mb-3">
                <p class="text">Лицензия на проведение банковских и иных операций и
                    деятельности на рынке ценных бумаг № 1.2.47/230/38/1 от 8 ноября 2016 года
                    <br> © 2000—2019 АО «Народный Банк Казахстана»</p>
            </div>
            <div class="col-lg-4 mb-md-0 mb-3">
                <div class="social">
                    <a href="https://www.facebook.com/halykbank/">
                        <span class="icon_facebook"><i class="fab fa-facebook"></i></span>
                    </a>
                    <a href="https://vk.com/halykbank">
                        <span class="icon icon_vk"><i class="fab fa-vk"></i></span>
                    </a>
                    <a href="https://twitter.com/halykbank_kz/">
                        <span class="icon icon_twitter"><i class="fab fa-twitter"></i></span>
                    </a>
                    <a href="https://www.instagram.com/halykbank.kz/">
                        <span class="icon icon_instagram"><i class="fab fa-instagram"></i></span>
                    </a>
                    <a href="https://www.youtube.com/channel/UCQp1tmqCql9-QiXiq_5XUEg/">
                        <span class="icon icon_youtube"><i class="fab fa-youtube"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

    <script src="https://kit.fontawesome.com/2c372547cc.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="src/toc.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ theme:js }}"></script>



</body>
</html>
