<script src="https://code.jquery.com/jquery-2.2.4.min.js" async="async"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>

<section class="container-fluid" >
    {{ partial:mobile-toolbox}}
    <div class="content">
        <div class="row">
            <div class="col-lg-2" style="border-right: 1px solid gainsboro">
                <div class="desktop-sidebar">
                    {{ partial:left-sidebar }}
                </div>
            </div>
            <div class="col-lg-9">
                <h1>
                    <small>{{ title }}</small>
                </h1>
                <code>[ Base URL: petstore.swagger.io/v2 ]</code>
                <p>This is a sample server Petstore server. You can find out more about Swagger at http://swagger.io or on
                    irc.freenode.net, #swagger. For this sample, you can use the api key special-key to test the
                    authorization filters.</p>
                <a href="/documentation">Read Documentation</a>

                <div class="pt-2" id="accordion">
                    <div class="card" id="headingOne">
                        <div class="card-header">
                            <button class="btn btn-block">
                            <h5 class="mb-0">
                                <div class="row">
                                    <div class="api-method col-lg-2">delete</div>
                                    <div class="dropdown-info row col-lg-10">
                                        <div class="api-path"></div>
                                        <div class="api-description"></div>
                                    </div>
                                </div>
                            </h5>
                        </div>
                        <div>
                            <div class="card-body row">
                                <div class="col-lg-7" style="overflow-x: scroll;">
                                    <div class="parameters col-name">Parameters</div>
                                   <!-- <table class="table table-striped mt-3">
                                        <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Default</th>
                                            <th scope="col">Description</th>
                                        </tr>
                                        </thead>
                                        <tbody id="table-body"></tbody>
                                    </table>-->
                                </div>
                                <div class="col-lg-5">
                                    <div class="col-name">Responses</div>
                                    <div class="response mt-3">
                                        <ul class="nav nav-tabs">
                                            <li class="tab nav-item">
                                                <a class="nav-link tab active" data-toggle="tab" href="#home">200</a>
                                            </li>
                                            <li class="tab nav-item">
                                                <a class="nav-link tab" data-toggle="tab" href="#menu1">404</a>
                                            </li>
                                            <li class="tab nav-item">
                                                <a class="nav-link tab" data-toggle="tab" href="#menu2">500</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="home" class="container tab-pane active"><br>
                                                <div><p>{</p>
                                                    <p>"id": 98768,</p>
                                                    <p>"name": "Goot Doggie",</p>
                                                    <p>"photoUrls": ["https://media.karousell.com/media/photos/products/2017/09/14/doggi_door_stopper_1505372529_5cdd1eba0"],</p>
                                                    <p>"tags": [],</p>
                                                    <p>"status": "available"</p>
                                                    }</div>
                                            </div>
                                            <div id="menu1" class="container tab-pane"><br>
                                                <h3>Menu 1</h3>
                                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                            </div>
                                            <div id="menu2" class="container tab-pane"><br>
                                                <h3>Menu 2</h3>
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
        var json = (function() {
            var json = null;
            $.ajax({
                'async': false,
                'global': false,
                'url': "/sample.json",
                'dataType': "json",
                'success': function (data) {
                    json = data;
                }
            });
            return json;
        })();

 /*       var fillTableFromJSON = function() {
            const data = json;
            /!*console.log(Object.keys(data.parameters).length);*!/

            for (let i=0; i<Object.keys(data.parameters).length; i++) {
                var element = document.getElementById('table-body');
                var newTr = element.insertRow();

                var newTh = newTr.insertCell();
                newTh.setAttribute('scope', 'row');

                var newName = document.createElement('div');
                newTh.appendChild(newName);
                newName.setAttribute('class', 'parameter-name');
                newName.innerText = data.parameters[i].name;

                var newRequired = document.createElement('div');
                newTh.appendChild(newRequired);
                newRequired.setAttribute('class', 'parameter-required badge badge-secondary');
                newRequired.innerText = data.parameters[i].required;

                var newType = document.createElement('div');
                newTh.appendChild(newType);
                newType.setAttribute('class', 'parameter-type');
                newType.innerText = data.parameters[i].type;

                var newIn = document.createElement('div');
                newTh.appendChild(newIn);
                newIn.setAttribute('class', 'parameter-in');
                newIn.innerText = data.parameters[i].in;

                var newDefault = newTr.insertCell();
                newDefault.innerText = data.parameters[i].default;

                var newDesc = newTr.insertCell();
                newDesc.innerText = data.parameters[i].description;
            }
        };*/


        var universalFunction = function () {
            const data = json;

            var element = document.getElementsByClassName('parameters');
            var newTable = document.createElement('table');
            element[0].appendChild(newTable);
            newTable.setAttribute('class', 'table table-striped mt-3');
            var newThead = newTable.createTHead();
            var newTr = newThead.insertRow();

            for (var key in data.parameters[0]) {
                var newTh = newTr.insertCell();
                newTh.setAttribute('scope', 'row');
                newTh.innerText = key;
            }

            var newTBody = newTable.createTBody();

            for (let i = 0; i < Object.values(data.parameters[0]).length; i++) {
                var newRow = newTBody.insertRow();
                    for (var property in data.parameters[0]) {
                        var newCell = newRow.insertCell();
                        newCell.setAttribute('scope', 'row');
                        newCell.innerText = data.parameters[i][property];
                    }

            }

        }


    (function() {
        universalFunction();
    });

</script>
