
<section class="regular">
	<header>
		<h1><small>Результаты поиска</small></h1>
		<form role="search" action="/search">
			<div class="input-group">
				<input type="text" id="search-text" name="q" class="form-control" placeholder="Поиск..." value="{{ get:q }}" aria-label="Search" aria-describedby="button-addon2">
			</div>
		</form>
	</header>
		{{ search:results }}
	<article class="content">
			{{ if no_results }}
				Поиск не дал результатов. Повторите запрос.
			{{ else }}
			<div class="search-result">
				<strong class="article-title">{{ title }} </strong><a href="{{url}}">({{ site_url | substr:0:-1 }}{{url}})</a>
				<div class="meta">
					{{ if (date | days_ago) < 7 }}
						{{ date | relative }}
					{{ elseif (date | format:Y) == now | format:Y }}
						{{ date format="M j" }}
					{{ else }}
						{{ date format="M j, Y" }}
					{{ /if }}
				</div>
			</div>
			{{ /if }}
	</article>
		{{ /search:results }}
</section>

<script>
	function f() {
		var text = document.getElementById('search-text').value;
		var re = /text/i;
		console.log(document.getElementById('document-text').innerText);
		var position = document.toString().indexOf(text);
		console.log(position);
		var start_pos = position - 100;
		var end_pos = position + 100;
		var str = document.toString().substring(start_pos, end_pos);
		document.getElementById("context").innerHTML = text;
	}
</script>
