<div class="mobile-toolbox">
    <div class="row pt-3">
        <div class="col-10" style="height: 65%;">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Поиск..." aria-label="Search" aria-describedby="button-addon2">
            </div>
        </div>
        <div class="col-2 pl-0">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" style="background-color: transparent; border: 0;">
                <span class="icon icon_menu" style="color: gray; font-size: 25px;"><i class="fas fa-bars"></i></span>
            </button>
        </div>
    </div>
    <hr class="clearfix w-100 d-md-none pb-0 mb-1 mt-0">
    <nav class="collapse navbar-collapse" id="collapsibleNavbar">
        {{ partial:left-sidebar }}
        <hr class="clearfix w-100 d-md-none pb-0 mb-0">
    </nav>
</div>
